@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

/* Css Sıfırlama */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Css Ortak Yapılar */

body {
  font-family: "New Amsterdam", sans-serif;
}

.align-box {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px;
}

.align-col {
  flex-basis: 30%;
  /*Css de kullanılan ve öğenin başlanıç  genişliğini ve yüksekliği belirlemeye yarar. */
  margin-bottom: 5%;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Header Css */

.header {
  min-height: 100vh;
  /* min-height 
   min yükseklik belirlemek için kullanılır.
   vh ise 'açılır pencerenin 100 % ' demektir. */
  background: linear-gradient(rgba(5, 10, 30, 0.7), rgba(5, 10, 30, 0.7)),
    url("../images/bg.webp");
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 6%;
}

.nav a img {
  width: 150px;
}

.nav-links {
  flex: 1;
}

/* Flex:1 ile elemanın kalan tüm alanı alması sağladık. */

.nav-links ul li {
  list-style: none;
  display: inline-block;
  /* Elemanları aynı satır içerisinde block eleman özelliğinde 
   kullanmaya yarar. */
  float: right;
  padding: 8px 12px;
}

.nav-links ul li a {
  text-decoration: none;
  font-size: 17px;
  color: white;
}

.nav-links ul li a::after {
  content: "";
  background-color: chocolate;
  display: block;
  width: 0;
  height: 2px;
  margin-top: 4px;
}

.nav-links ul li a:hover::after {
  width: 100%;
  transition: 0.3s;
}

.menu {
  color: white;
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* .nav-links ul li a:hover {
  border: 1px solid;
  border-color: white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
} */

/* Text-Box Area */

.text-box {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text-box h1 {
  font-size: 60px;
  font-weight: lighter;
}

.text-box p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: lighter;
}

.hero-btn {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 30px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
  transition: all 0.5s;
}

.hero-btn:hover {
  background-color: chocolate;
}

/* Course Area */

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  background-color: #fefae0;
  padding: 20px 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.course-col:hover {
  box-shadow: 0 0 30px chocolate;
  transform: scale(1.2);
}

/* Campus Area */

.campus-col {
  position: relative;
  overflow: hidden;
  /* Taşmaları engeller. */
}

.campus-col img {
  display: block;
  width: 100%;
}

.ist_img {
  height: 100%;
}

.stc_img {
  height: 100%;
}

.osl_img {
  height: 100%;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
}

.layer:hover {
  background-color: rgba(200, 52, 15, 0.5);
}

.layer h3 {
  font-weight: 500;
  color: white;
  font-size: 25px;
  position: absolute;
  width: 100%;
  bottom: 0;
  transition: 0.5s;
  opacity: 0;
}

.layer:hover h3 {
  bottom: 50%;
  opacity: 1;
}

/* Facilites Area */

.facilities-col {
  text-align: justify;
  background-color: #fefae0;
  transition: all 0.5s;
  cursor: pointer;
}

.facilities-col:hover {
  box-shadow: 0 0 30px chocolate;
  transform: scale(1.2);
}

.facilities-col img {
  width: 100%;
  border-radius: 5px;
}

.facilities-col .text_1 {
  margin: 10px;
}

/* Comments Area */

.testemonials-col {
  background-color: #fefae0;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: all 0.5s;
}

.testemonials-col:hover {
  box-shadow: 0 0 30px chocolate;
  transform: scale(1.2);
}

.testemonials-col img {
  height: 50px;
  margin-left: 5px;
  border-radius: 50%;
}

.testemonials-col div p {
  padding: 0;
}

.testemonials-col h3 {
  margin-top: 15px;
}

.testemonials-col div .bi {
  color: #e85c0d;
}

.ua {
  background-image: linear-gradient(rgba(5, 10, 30, 0.7), rgba(5, 10, 30, 0.7)),
    url("../images/london.jpeg");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  color: white;
  margin: 50px auto;
  border-radius: 10px;
}

.ua h1 {
  margin-bottom: 40px;
  padding: 0;
}

/* Footer Area */

.footer {
  padding: 30px 0;
}

.footer h1 {
  margin: 0 0 25px 0;
}

.icons {
  margin: 20px;
  transition: 0.5s all;
}

.icons:hover {
  transform: scale(1.1);
}

.icons .bi {
  color: chocolate;
  margin: 0 10px;
  cursor: pointer;
  padding: 20px 10px;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .menu {
    display: block;
  }
  .row {
    display: block;
  }
  .text-box h1 {
    font-size: 30px;
  }
  .ua h1 {
    font-size: 25px;
  }
}

/* /* Responsive Tasarım */

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .menu {
    display: block;
  }
  .row {
    display: block;
  }
  .text-box h1 {
    font-size: 30px;
  }
  .ua h1 {
    font-size: 25px;
  }
}

/* 
 Biz developerlar oluşturduğumuz sitelerin tüm cihazlarda 
 güzel bir görünüm elde etmesini isteriz.
 Bu noktada media etiketleri yardım ile responsive tasarım kullanılır.
 Responsive tasarım sektörde çokça aranan bir developer yeteneğidir.
 Responsive tasarım yapılırken @media etiketi kullanılır.
 () arasında hangi ekran boyutunda hangi özellik nasıl olacak ise 
bunun belirtilmesi gerekir. */
